pip==21.1.2
bump2version==0.5.11
wheel==0.33.6
watchdog==0.9.0
flake8==3.7.8
tox==3.14.0
coverage==4.5.4
Sphinx==1.8.5
twine==1.14.0


pytest==6.2.4
pandas==1.2.4
scikit-learn==0.24.1
shap==0.39.0
ipython==7.22.0
matplotlib==3.4.1
isort==5.8.0
yapf==0.31.0





