pip==22.1.2
bump2version==1.0.1
wheel==0.38.1
watchdog==2.1.9
flake8==4.0.1
tox>=4.0.0,<5.0.0
coverage==6.4.2
Sphinx==5.0.2
twine==4.0.1
importlib-metadata<8.0.0  # or upgrade twine to >=5.1.1 (https://stackoverflow.com/questions/78694572/unable-to-upload-pip-package-to-google-artifact-registry-using-twine-err-keyer)

pytest==7.1.2
scikit-learn==1.1.1
shap==0.41.0
ipython==8.10.0
matplotlib==3.5.2
isort==5.10.1
yapf==0.32.0

tensorflow==2.11.1
albumentations==1.2.1
git+https://github.com/tensorflow/examples.git

--extra-index-url https://download.pytorch.org/whl/cu113
torch==2.0.0
torchvision==0.15.1
torchaudio==2.0.1
onnx==1.12.0  # required by torch==2.0.0, otherwise gives error on onnx export

onnxruntime==1.12.0
pyarrow==9.0.0

numpy<2.0.0  # pyarrow versions (and maybe other libraries) not yet compatible with numpy>=2
packaging<25  # incompatibility with mlflow-skinny<3
